body {
    background-image: url(FUNDO.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

.loginbody {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    box-sizing: border-box;
}

.icone img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.titulo h1 {
    margin: 10px 0 20px;
    font-size: 24px;
    color: #333;
}

.email input,
.senha input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
.submit {
    padding: 15px 30px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; 
    width: 100%; 
}
.link-cadastro {
    margin-top: 10px; 
}